[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[core]
    autocrlf = input
    excludesFile = ~/.config/git/ignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    light = false

[merge]
    conflictstyle = zdiff3

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate -20
    last = log -1 HEAD
    unstage = reset HEAD --
