[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[core]
    autocrlf = input
    excludesFile = ~/.config/git/ignore

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate -20
    last = log -1 HEAD
    unstage = reset HEAD --
